<div id="wrapper">
    <div class="card" id="leftSide">
        <div id="preContainer">
            
            <h1 id="fusionTitle">FUSION</h1>
            
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Anime jazz">
                    </form>
                </div>
            </div>
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Iranian techno">
                    </form>
                </div>
            </div>
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Electronic gospel">
                    </form>
                </div>
            </div>
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Pop opera">
                    </form>
                </div>
            </div>
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Hardcore piano">
                    </form>
                </div>
            </div>
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Detroit-techno reggae">
                    </form>
                </div>
            </div>
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Punk-rock trance">
                    </form>
                </div>
            </div>
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Indie synth-pop">
                    </form>
                </div>
            </div>
            <div id="preModal">
                <div id="modalInner">
                    <form id="fusionInput" method="GET" action="/">
                        <input id="fusionButton" type="submit" name="inputs" value="Disco house">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="rightSide">
        <div class="card" id="tableButtons">
            <div id="recSelectors">
                <form id="recInput" method="GET" action="/">
                    <label style="font-weight:bold; margin-left:0em;">Recommendations</label>
                    <input style="width:8em;" name="inputs" type="text">
                    <input class="submitRecommendation" type="submit" value="Submit">
                </form>
                <form id="recInput" method="GET" action="/">
                    <label style="font-weight:bold; margin-left:1em; margin-top:0.2em;" for="inputs">Choose a mood:</label> 
                    <select style="width:6em;" name="inputs" id="mood-list">
                        <option value="happy">Happy</option>
                        <option value="sad">Sad</option>  
                        <option value="angry">Angry</option>
                        <option value="upset">Upset</option>   
                        <option value="party">Party</option> 
                        <option value="breakup">Breakup</option>
                        <option value="work-out">Exercise/Workout</option>
                        <option value="electronic edm drum-and-bass">Electronic</option>
                        <option value="road-trip">Long Drive</option>
                        <option value="french">French</option>
                        <option value="salsa samba">Spanish Dance</option>
                        <input style="margin-right:-4em; margin-left:0.3em;" type="submit" class="submitRecommendation" value="Submit">
                    </select>
                </form>
                {{#if data}}
                    <form id="recInput" method="POST" action="/recommendations">
                        <input type="hidden" name="spotifyURIs" value="{{#each data.tracks}}{{ uri }},{{/each}}">
                        <input type="hidden" name="inputText" value="{{inputText}}">
                        <input style="margin-top:0.2em; margin-left:6em;" id="addToPlaylist" type="submit" value="ADD PLAYLIST TO SPOTIFY">

                    </form>
                {{else}}
                    <form>
                        <input style="margin-top:-0.4em; margin-left:6em;" id="addToPlaylist" class="addToSpotify" type="button" value="ADD PLAYLIST TO SPOTIFY">
                    </form>
                {{/if}}
            </div>
                
        </div>
        <div>
            <div id="tableContainer">
                <table id="table">
                    <thead id="tableHead">
                        <tr id="headRow">
                            <th>Track name</th>
                            <th>Image</th>
                            <th>Artist name</th>
                            <th>Album</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        {{#if message}}
                            <tr>
                                <td>{{> message}}</td>
                            </tr>
                        {{/if}}
                        {{#if data.tracks}}
                        {{#each data.tracks}}
                            <tr>
                                <td>{{ name }}</td>
                                <td><img src="{{album.images.[0].url}}" width="90" height="90"></td>
                                <td>{{ artists.[0].name }}</td>
                                <td>{{album.name}}</td>
                            </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="rightSpacer"></div>
</div>


<style>

    #wrapper{
        display:inline-flex;
        height: 100%;
        overflow: hidden;
    }
    #leftSpacer{
        width: 1.5%;
        height: 100%;
    }
    #leftSide{
        margin-top:1em;
        margin-left:1em;
        width: 23.5%;
        height: 97%;
    }
    #rightSide{
        width: 73.5%;
        height: 100%;
    }
    #rightSpacer{
        width: 1.5%;
    }
    #tableButtons {
        justify-content: space-between;
        align-items: center;
        display: inline-flex;
        border-radius: 1rem;
        background-color: white;
        width: 100%;
        height: 10%;
        padding: 1rem;
        margin-top: 1rem;
        margin: 1rem;
        
    }
    #recSelectors{
        display: inline-flex;
        margin-top:0.35em;
    }
    #recInput{
        padding-right: 1rem;
    }
    #tableContainer{
        width: 100%;
        height: 79vh;
        background-color: white;
        display: inline-flex;
        justify-content: space-between;
        padding: 1rem;
        margin: 1rem;
        margin-top: 0;
        border-radius: 1rem;
    }
    #table{
        width: 100%;
    }
    #tableBody{
        display:inline-block;
        overflow-y: scroll;
        height: 73vh;
        width: 100%;
    }
    #tableHead{
        display:inline-block;
        width: 100%;
    }
    #headRow{
        
    }
    th{
        width: 23rem;
    }
    tr{

    }
    td{
        width: 23rem;
    }
    #preContainer{
        border-radius: 1rem;
        height: 90vh;
        width: 100%;
        background-color: white;
        margin-top: 1rem;
        padding-top: 0.5rem;
    }
    #preModal{
        border-radius: 1rem;
        margin-top: 0.75em;
        margin-left:1em;
        margin-right:1em;
    }
    #modalInner{
        width: 100%;
        height: 100%;
    }
    #fusionTitle{
        font-weight: bold;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        margin-bottom:-0.25em;
    }
    #fusionInput{
        height: 100%;
        width: 100%;
    }
    #fusionButton{
        font-weight:bold;
        width: 100%;
        height: 7vh;
        border-radius: 1rem;
        background: black;
        color: white;
        border: none
    }
    #fusionButton:hover{
        background: linear-gradient(180deg, #ffb3d3 0%, #fa66b0 100%);
    }
    .submitRecommendation{
        background: linear-gradient(180deg, #99ff96 0%, #36f640 100%);
        border-radius: 0.5rem;
        border: none;
    }
    .addToSpotify{
        background: linear-gradient(180deg, #ff969b 0%, #f63636 100%);
        border-radius: 0.5rem;
        border: none;
    }
    .addToSpotify:hover{
        background: linear-gradient(180deg, #ffbcbf 0%, #ff6b6b 100%);
    }
    #addToPlaylist{
        background: url(../../resources/img/addToSpotifyPlaylist.png);
        background-size: 18.2em;
        height:2.8em;
        width:18.2em;
        color: rgba(0,0,0,0);
    }

</style>