<h1>User Profile</h1>

<!-- Username Input Field -->
<label for = "username">Username:</label>
<input type="text" id="username" name="username" placeholder="Enter your username">

{{!-- {{Bio/About Me}} --}}
<label for = "About Me">About Me:</label>
<textarea id="About Me" name="About Me" placeholder="Write something about yourself"></textarea>

{{!-- {{Profile Picture?}} --}}
<label for="profilePicture">Profile Picture:</label>
<input type="file" id="profilePicture" name="profilePicture">

{{!-- {{Previous Recommendations}} --}}

{{!-- {{Settings}} --}}
    {{!-- {{Filter Recommendations}} --}}