
<div class="container text-center">
    <div class="card">
        <div class="card-body">
            
            <h2 class="text-center">Profile</h1>

            <!-- Username Input Field -->
            <div>
                <img class="center" id="uploadedImage" src="{{profilePicture}}" alt="Uploaded Image" style="margin-top:1em; display: none; width: 100px; height: 100px; overflow: hidden; border-radius: 50%; border: 2px solid #ccc; display: flex; justify-content: center; align-items: center;">
                <input class="form-control" type="file" id="profilePicture" accept="image/png">
                <button class="form-control" onclick="uploadProfilePicture()">Upload new picture</button>
            </div>

            <h5 style="text-align:left; margin-left:2em;">Username: {{ Username }}</h5>

            {{!-- {{Profile Picture}} --}}
            

            {{!-- {{Bio/About Me}} --}}
            <div style="margin-top:1em; text-align: left; margin-left:2.5em;">
                <label for="AboutMe">About Me:</label>
                <br/>
                <textarea id="AboutMe" name="About Me" placeholder="Write something about yourself">{{aboutMe}}</textarea>
                <br/>
                <button onclick="publishAboutMe()">Publish</button>
            </div>

            <div style="margin-top:3em">
                <a style="margin-left:10px; color:rgb(0, 0, 0)" href="/logout">
                    logout
                </a>
            </div>
            

        </div>
    </div><!--
    --><div class="card" style="width:30em">
        <div class="card-body">
            {{#if recommendations}}
                <h2 class="text-center">Your Recommendations:</h2>
            {{else}}
            <p>No recommendations found.</p>
            {{/if}}
            <div id="recContainer">
                {{#if recommendations}}
                <ul>
                    {{#each recommendations}}
                    <hr>
                    <div id="recTitle">
                        <p style="text-align:left; margin-left:1.5em; font-weight:bold">{{[0].genreinput}}</p>
                    </div>
                    <div id="recImages">
                        <img src="{{[0].album_image_url}}" width="90" height="90">
                        <img src="{{[1].album_image_url}}" width="90" height="90">
                        <img src="{{[2].album_image_url}}" width="90" height="90">
                        <img src="{{[3].album_image_url}}" width="90" height="90">
                    </div>
                    <div id="addToSpotify">
                        <form id="recInput" id="submitRecommendation" method="POST" action="/recommendations">
                            <input type="hidden" name="spotifyURIs" value="{{#each []}}{{ track_uri }},{{/each}}">
                            <input type="hidden" name="inputText" value="{{[0].genreinput}}">
                            <input class="form-control" style="margin-left:0" type="submit" value="ADD PLAYLIST TO SPOTIFY">
                        </form>
                    </div>
                    <hr>
                    {{/each}}
                </ul>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function uploadProfilePicture() {
        var input = document.getElementById('profilePicture');
        var file = input.files[0];

        if (file) {
            if (file.type === 'image/png') {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var uploadedImage = document.getElementById('uploadedImage');
                    uploadedImage.src = e.target.result;
                    uploadedImage.style.display = 'block';

                    localStorage.setItem('profilePicture', e.target.result);
                };
                reader.readAsDataURL(file);
            } else {
                alert('Please upload a PNG image.');
            }
        } else {
            alert('Please select a file to upload.');
        }
    }

    window.addEventListener('DOMContentLoaded', function() {
        var uploadedImage = document.getElementById('uploadedImage');
        if (localStorage.getItem('profilePicture')) {
            uploadedImage.src = localStorage.getItem('profilePicture');
            uploadedImage.style.display = 'block';
        }
    });
    </script>





    <script>
    function publishAboutMe() {
        var aboutMeContent = document.getElementById('AboutMe').value;
        localStorage.setItem('aboutMeText', aboutMeContent);
    }

    window.addEventListener('DOMContentLoaded', function() {
        var aboutMeTextarea = document.getElementById('AboutMe');
        if (localStorage.getItem('aboutMeText')) {
            aboutMeTextarea.value = localStorage.getItem('aboutMeText');
        }
    });
    </script>

<style>
    .container{
    }

    .card{
        width:30em;
        margin-left:4em;
        margin-top:4em;
        margin-right:4em;
        display:inline-block;
        vertical-align: bottom;
        height:35em;
    }

    .card-body{
        display:block;
    }

    .text{
        margin-left:1em;
    }

    h5{
        margin-top:1.5em;
    }

    input{
        margin-top:1em;
    }

    textarea{
        width:85%;
    }

    label{
        margin-top:1em;
    }

    .form-control{
        margin-left:auto;
        margin-right:auto;
        width:15em;
    }

    ul{
        margin-top:0em;
    }

    h1{
        font-weight: bold;
    }

    h2{
        font-weight: bold;
    }
    .card-body{
        height: 100%;
    }
    #recContainer{
        overflow-y: scroll;
        height: 94%;
        scrollbar-width: thin;
    }
    #recTitle{

    }
    #recImages{
        display: flex;
        justify-content: center;
    }
    #addToSpotify{
        display: flex;
        justify-content: center;
    }
</style>